Data Science Tools and Ecosystem

#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- list popular languages for data science
- list popular tools for data science
- how to use markdowns in notebooks

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. gplot
2. pandas
3. tensorflow

|Data Science Tools|
|---|
|R studio|
|Anaconda|
|Jupyter Notebooks|

###Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
 #This a simple arithmetic expression to mutiply then add integers
 (3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

##Author
Ovar Genaro Bibriesca Garcia